.event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 350px;
}

.cake-pic {
  width: 100%;
}

.event-details {
  background: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

h1 {
  color: #240D57;
}



.host-name {
  margin: 0;
}

.detail {
  /* width: 250px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  margin-right: 20px;
}

.event-name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  margin-bottom: 10px;
}